a.logo {
  color: var(--text-black-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.1923076923;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
a.logo .logo__item {
  color: var(--text-link-color);
}
a.logo:hover, a.logo:focus {
  color: var(--text-link-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.header {
  border-bottom: 1px solid #ececec;
}
.header .logo {
  margin-right: 93px;
}

.container.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 15px;
}

.logo__item {
  color: var(--text-link-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigations__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.navigations__list .navigations__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigations__item:not(:last-child) {
  margin-right: 50px;
}

.navigations__link {
  text-decoration: none;
  color: var(--text-black-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.navigations__link:hover, .navigations__link:focus {
  color: var(--text-link-color);
}
.navigations__link.selected:after {
  content: "";
  position: absolute;
  background-color: var(--text-link-color);
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.contact {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link {
  position: relative;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  gap: 10px;
}

.contact__list:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.contact__link .contact__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.contact__link:hover, .contact__link:focus {
  color: var(--text-link-color);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--text-link-color);
}

.contact__icon {
  fill: var(--text-grey-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/overlay.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.hero__button {
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  padding: 10px 24px;
  height: 50px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 450px) {
  .container {
    background-color: red;
  }
}
.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantage__list .advantage__title {
  font-size: 14px;
  color: var(--text-black-color);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.advantage__list .advantage__text {
  color: var(--text-grey-color);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.advantage__title--opacity {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  margin-left: 0;
}

.advantage__card {
  height: 120px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.section__example {
  padding-top: 0px;
  padding-bottom: 94px;
}

.work-example-title {
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--text-black-color);
}

.work-example-list {
  margin-top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-example__li {
  position: relative;
  width: 370px;
}

.work-example__textoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 95px;
}
.work-example__textoverlay p {
  color: var(--text-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  font-family: var(--main-font-family);
  text-transform: uppercase;
}

.img-block {
  display: block;
  max-width: 100%;
  height: auto;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-names {
  color: var(--text-black-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin-bottom: 10px;
}

.our-team-position {
  text-align: center;
  color: var(--text-grey-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--text-black-color);
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.team-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  margin: auto auto 30px auto;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
}
.social-links li {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-team li {
  background-color: var(--text-white-color);
}

.icon-link {
  outline: none;
  height: 44px;
  width: 44px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.static-color {
  fill: var(--fill-color-svg-static);
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--text-link-color);
}
.icon-link:hover .icon-team-link,
.icon-link:focus .icon-team-link {
  fill: var(--text-white-color);
}

.gap-30px {
  gap: 30px;
}

.link-clients {
  min-width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients-logo {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--text-link-color);
}
.link-clients:hover .link-clients-logo,
.link-clients:focus .link-clients-logo {
  fill: var(--text-link-color);
}

.clients__list {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  background-color: var(--main-background-darkblue);
}
.footer .logo {
  color: var(--text-white-color);
}
.footer .footer-container {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 70px;
}

.footer-address {
  margin-top: 20px;
}
.footer-address .address-links {
  color: var(--text-white-color);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-links {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-links .icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-links:hover, .address-links:focus {
  color: var(--text-link-color);
}
.address-links:hover .icon, .address-links:focus .icon {
  fill: var(--text-link-color);
}

.opasity-whit-60 {
  opacity: 60%;
}

.form-title {
  display: block;
  margin-bottom: 20px;
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--text-white-color);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
}

.social-links-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-link-footer {
  height: 44px;
  width: 44px;
  background-color: #44454e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.static-color-footer {
  fill: rgb(255, 255, 255);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: var(--text-link-color);
}
.icon-link-footer:hover .icon-team-link,
.icon-link-footer:focus .icon-team-link {
  fill: var(--text-white-color);
}

.form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover, .footer-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.item-footer:not(:last-child) {
  margin-bottom: 9px;
}

.h3-footer-link {
  font-family: var(--main-font-family);
  font-size: 14px;
  color: var(--text-white-color);
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-container-item {
  text-align: center;
}
.footer-container-item .form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  text-indent: 16px;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer-container-item .form-input:hover, .footer-container-item .form-input:focus {
  border: 1px solid rgb(33, 150, 243);
}

.container-portfolio {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

.container-portfolio .main-button-list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 54px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px 15px;
}

.portfolio-button {
  font-size: 16px;
  background-color: var(--grey-color-buttons);
  border: none;
  border-radius: 4px;
  color: var(--text-black-color);
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  padding: 8px 22px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.our-examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list__link {
  position: relative;
}

.list__link:hover .text-overlay, .list__link:focus .text-overlay {
  opacity: 1;
  -webkit-transition-property: opacity, height;
  transition-property: opacity, height;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 294px;
}

.text-overlay {
  position: absolute;
  bottom: 111px;
  width: 100%;
  height: 0;
  background-color: rgba(33, 150, 243, 0.8980392157);
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--text-white-color);
  padding: 62px 24px;
  opacity: 0;
}
.text-overlay p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.h2-p {
  padding: 20px 24px;
  width: 100%;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--text-black-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.img-paragraph {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: var(--text-grey-color);
  letter-spacing: 0.03em;
}

.list-element {
  width: 100%;
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --text-black-color: #212121;
  --text-link-color: #2196f3;
  --text-white-color: #ffffff;
  --main-font-family: "Roboto", sans-serif;
  --text-grey-color: #757575;
  --main-background-darkblue: #2f303a;
  --cursor-pointer: pointer;
  --grey-color-buttons: #f5f4fa;
  --fill-color-svg-static: #afb1b8;
}

.backdrop {
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes scale_up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale_up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@-webkit-keyframes scale_down {
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scale_down {
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}
.is-hidden .modal {
  -webkit-animation: scale_down 0.5s ease-out;
          animation: scale_down 0.5s ease-out;
}

.backdrop:not(.is-hidden) .modal {
  -webkit-animation: scale_up 0.5s ease-in;
          animation: scale_up 0.5s ease-in;
}

.modal {
  padding: 40px;
  position: relative;
  background-color: var(--text-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-close {
  fill: rgb(0, 0, 0);
}

.modal__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}
.modal__button svg {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
}
.modal__button:hover svg.icon-close, .modal__button:focus svg.icon-close {
  fill: rgb(33, 150, 243);
}

.svg-sent {
  margin-left: 10px;
  fill: var(--text-white-color);
}

.form-modal-title {
  display: block;
  text-align: center;
  font-family: var(--main-font-family);
  color: var(--text-black-color);
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

.modal-label:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.modal-comment {
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-grey-color);
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-input:hover, .modal-input:focus {
  border: 1px solid rgb(33, 150, 243);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: rgb(33, 150, 243);
}

.modal-input-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-textarea:hover, .modal-input-textarea:focus {
  border: 1px solid rgb(33, 150, 243);
}

.modal-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-button:hover, .modal-form-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-label {
  position: relative;
}
.modal-label svg {
  position: absolute;
  top: 33px;
  left: 12px;
}

.modal-label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  gap: 10px;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-custom {
  height: 16px;
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:checked + .checkbox-custom {
  background-color: #2196f3;
  border: none;
}

.modal-comment-link {
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 1.7142857143;
  color: var(--text-grey-color);
}
.modal-comment-link a {
  color: var(--text-link-color);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  background-color: #ffffff;
}

.container {
  border: 2px solid red;
  margin: 0 auto;
  width: 480px;
  padding: 60px 15px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.js-open-menu {
  display: inline-block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
}

.js-menu-container:not(.is-open) {
  display: none;
}

.js-open-menu[aria-expanded=true] .icon-close {
  display: block;
}
.js-open-menu[aria-expanded=true] .icon-menu {
  display: none;
}

.js-open-menu[aria-expanded=false] .icon-close {
  display: none;
}
.js-open-menu[aria-expanded=false] .icon-menu {
  display: block;
}

.js-menu-container {
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.navigations__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.navigations__list .navigations__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.js-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
}

.navigations__link {
  text-decoration: none;
  color: var(--text-black-color);
  font-size: 44px;
  font-weight: 500;
  line-height: 1.0681818182;
  letter-spacing: 0.02em;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link-tel {
  position: relative;
  color: var(--text-link-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-size: 34px;
  font-style: normal;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contact__link-tel {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.contact__link-tel:hover, .contact__link-tel:focus {
  color: var(--text-link-color);
}

.contact__link-email {
  position: relative;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-size: 24px;
  font-style: normal;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  font-weight: 500;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.contact__link-email:hover, .contact__link-email:focus {
  color: var(--text-link-color);
}

.social-links-modal {
  padding-right: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: ease-in 250ms;
  transition: ease-in 250ms;
}
.social-links-modal:hover, .social-links-modal:focus {
  color: var(--text-link-color);
}

.nav-links {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-links li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.nav-links li:not(:first-child) {
  padding-left: 10px;
}/*# sourceMappingURL=main.css.map */