@media (max-width: 450px) {
  .container {
    background-color: red;
  }
}

.advantage {
  // padding-top: 94px;
}

.advantage__list {
  display: flex;
  list-style: none;
  padding: 60px 15px;
  margin-top: 0;
  margin-bottom: 0;

  flex-direction: column;

  gap: 30px;
  justify-content: space-between;

  .advantage__title {
    font-size: 14px;
    color: var(--text-black-color);
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  .advantage__text {
    color: var(--text-grey-color);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.advantage__item {
  // width: 270px;
}

.advantage__title--opacity {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  opacity: 0;
  margin-left: 0;
}

.advantage__card {
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
