@import '../utils/mixins.scss';
@import '../utils/breakpoints';

.js-open-menu {
  display: inline-block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
}

.js-menu-container:not(.is-open) {
  display: none;
}

.js-open-menu[aria-expanded='true'] {
  .icon-close {
    display: block;
  }

  .icon-menu {
    display: none;
  }
}

.js-open-menu[aria-expanded='false'] {
  .icon-close {
    display: none;
  }

  .icon-menu {
    display: block;
  }
}

@media screen and (min-width: $tablet) {
  .js-open-menu {
    display: none;
  }
}

.js-menu-container {
  padding: 48px 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.navigations__list-mobile {
  align-items: start;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;

  height: 100%;
  flex-direction: column;
  gap: 32px;

  .navigations__item {
    height: 100%;
    display: flex;
  }
}

.contact-mobile {
  align-items: start;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}
.js-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 40px;
  height: 40px;
}

.navigations__link-mobile {
  text-decoration: none;
  color: var(--text-black-color);
  font-size: 44px;
  font-weight: 500;
  line-height: calc(47 / 44);
  letter-spacing: 0.02em;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.contact__link-tel {
  position: relative;
  color: var(--text-link-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-size: 34px;
  font-style: normal;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.contact__link-tel {
  @include transition('color');

  &:hover,
  &:focus {
    color: var(--text-link-color);
  }
}

.contact__link-email {
  position: relative;
  color: #757575;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-size: 24px;
  font-style: normal;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  font-weight: 500;

  @include transition('color');

  &:hover,
  &:focus {
    color: var(--text-link-color);
  }
}

.social-links-modal {
  padding-right: 10px;
  //   padding-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;

  @include transition('color');

  &:hover,
  &:focus {
    color: var(--text-link-color);
  }
}
.nav-links-mobile {
  margin-top: 64px;
  display: flex;

  li:not(:last-child) {
    border-right: 1px solid #21212133;
  }

  li:not(:first-child) {
    padding-left: 10px;
  }
}
