.our-clients {
  // padding-top: 94px;
  // padding-bottom: 94px;
}

.gap-30px {
  gap: 30px;
}

.link-clients {
  min-width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: transparent;
  transition-property: border-color;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-clients-logo {
  transition-property: fill;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-clients:hover,
.link-clients:focus {
  border-color: var(--text-link-color);

  .link-clients-logo {
    fill: var(--text-link-color);
  }
}

.clients__list {
  margin-top: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clients__item {
}
