@import '../utils/breakpoints';

.section__example {
  padding-top: 0px;
  padding-bottom: 94px;
  padding-left: 215px;
  padding-right: 215px;
  display: none;
}

@media screen and (min-width: $desktop) {
  .section__example {
    display: block;
  }
}

.work-example-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--text-black-color);
}

.work-example-list {
  margin-top: 0;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.work-example__li {
  position: relative;
  width: 370px;
}

.work-example__textoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 95px;

  p {
    color: var(--text-white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    font-family: var(--main-font-family);

    text-transform: uppercase;
  }
}

.img-block {
  display: block;
  max-width: 100%;
  height: auto;
}
