@import '../utils/breakpoints';

.header {
  border-bottom: 1px solid #ececec;

  .logo {
    margin-right: 93px;
  }
}

.container.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 80px;

  height: 60px;
  padding: 0 15px;
}

.logo__item {
  color: var(--text-link-color);
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  justify-content: space-between;
}

.navigations__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  height: 100%;

  .navigations__item {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: calc($tablet - 1px)) {
  ul.navigations__list,
  ul.contact {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .container.header__container {
    height: 80px;
  }

  ul.contact {
    display: grid;
    grid-template-columns: auto;
    margin-left: 50px;

    .contact__list:not(:last-child) {
      margin: 0;
    }
  }

  .navigations__list {
    flex: 1;
    justify-content: center;
  }
}

@media screen and (min-width: $desktop) {
  .container.header__container {
    height: 80px;
  }

  ul.contact {
    grid-template-columns: auto auto;

    .contact__list:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigations__list {
    justify-content: left;
  }
}

.navigations__item:not(:last-child) {
  margin-right: 50px;
}

.navigations__link {
  text-decoration: none;
  color: var(--text-black-color);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

  @include transition('color');

  &:hover,
  &:focus {
    color: var(--text-link-color);
  }

  &.selected:after {
    content: '';

    position: absolute;
    background-color: var(--text-link-color);
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
}

.contact {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.contact__link {
  position: relative;
  color: #757575;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  gap: 10px;
}

.contact__list:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  @include transition('color');

  .contact__icon {
    @include transition('fill');
  }

  &:hover,
  &:focus {
    color: var(--text-link-color);

    .contact__icon {
      fill: var(--text-link-color);
    }
  }
}

.contact__icon {
  fill: var(--text-grey-color);
}
