.hero {
  background-color: #2f303a;
  text-align: center;
  // padding-top: 200px;
  // padding-bottom: 200px;
  // width: 1600px;
  // height: 600px;
  // margin-left: auto;
  // margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/overlay.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--text-white-color);
  font-weight: 900;
  // font-size: 44px;
  font-size: 26px;
  // line-height: calc(60 / 44);
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.hero__button {
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  // padding: 10px 32px;
  // width: 216px;
  width: 200px;
  padding: 10px 24px;
  height: 50px;
  border: 1px solid transparent;

  @include transition('background-color, box-shadow');

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
