.backdrop {
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  // this centers the div on the middle
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scale_up {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  85% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes scale_down {
  10% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  $delay: 0.5s;
  transition-property: opacity, visibility;
  transition: ease-out $delay;

  .modal {
    animation: scale_down $delay ease-out;
  }
}

.backdrop:not(.is-hidden) {
  .modal {
    animation: scale_up 0.5s ease-in;
  }
}

.modal {
  padding: 40px;
  position: relative;
  background-color: var(--text-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-close {
  fill: rgba(0, 0, 0, 1);
}

.modal__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: unset;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;

  svg {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 50%;
  }

  &:hover,
  &:focus {
    svg.icon-close {
      fill: rgba(33, 150, 243, 1);
    }
  }
}

.svg-sent {
  margin-left: 10px;
  fill: var(--text-white-color);
}

.form-modal-title {
  display: block;
  text-align: center;
  font-family: var(--main-font-family);
  color: var(--text-black-color);
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 20px;
}

.modal-label:not(:last-child) {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
}

.modal-comment {
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--text-grey-color);
}

.modal-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;
  transition-property: border;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: rgba(33, 150, 243, 1);
}

.modal-input-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  transition-property: border;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid rgba(33, 150, 243, 1);
  }
}

.modal-form-button {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: var(--text-link-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal-label {
  position: relative;
  svg {
    position: absolute;
    top: 33px;
    left: 12px;
  }
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  gap: 10px;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-custom {
  height: 16px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-checkbox:checked + .checkbox-custom {
  background-color: #2196f3;
  // transition-property: background-color, border;
  // transition: ease-in 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.modal-comment-link {
  font-family: var(--main-font-family);
  // font-size: 14px;
  font-size: 12px;
  line-height: calc(24 / 14);
  color: var(--text-grey-color);
  a {
    color: var(--text-link-color);
  }
}
