.main-buttons-portfolio {
  // padding-bottom: 94px;
  // padding-top: 94px;
}
.container-portfolio {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

.container-portfolio {
  .main-button-list-portfolio {
    display: flex;
    // justify-content: center;
    // // gap: 8px;
    margin-bottom: 54px;
    flex-wrap: wrap;

    gap: 8px 15px;
  }
}
.portfolio-button {
  font-size: 16px;
  background-color: var(--grey-color-buttons);
  border: none;
  border-radius: 4px;
  color: var(--text-black-color);
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: calc(26 / 16);
  padding: 8px 22px;
  transition-property: background-color, box-shadow;
  transition: ease-in 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-align: center;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    background-color: var(--text-link-color);
    color: var(--text-white-color);
    box-shadow: 0px 2px 2px 0px #0000001f;
    box-shadow: 0px 1px 2px 0px #00000014;
    box-shadow: 0px 3px 1px 0px #0000001a;
  }
}

.our-examples {
  display: flex;

  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.list__link {
  position: relative;
}
.list__link {
  &:hover,
  &:focus {
    .text-overlay {
      opacity: 1;
      transition-property: opacity, height;
      transition: ease-in 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      height: 294px;
    }
  }
}
.text-overlay {
  position: absolute;
  bottom: 111px;
  width: 100%;
  height: 0;
  background-color: #2196f3e5;
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--text-white-color);
  padding: 62px 24px;
  opacity: 0;

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: 0.03em;

    color: #ffffff;
  }
}

.h2-p {
  padding: 20px 24px;
  width: 100%;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.img-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--text-black-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.img-paragraph {
  font-size: 16px;
  line-height: calc(30 / 16);
  font-weight: 400;
  color: var(--text-grey-color);
  letter-spacing: 0.03em;
}

.list-element {
  width: 100%;
}

.img-block {
  display: block;
  width: 100%;
  height: auto;
}
