@import '../utils/breakpoints';
@import '../utils/mixins.scss';

body,
html {
  font-family: var(--main-font-family);
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 480px;
}

header, main, footer, [data-modal], .js-menu-container {
  min-width: 320px;
  max-width: calc($tablet - 1px);
  margin: auto;
}

@include media-tablet {
  header, main, footer, [data-modal], .js-menu-container {
    max-width: $tablet;
  }

  .container {
    max-width: $tablet;
  }
}

@include media-desktop {
  header, main, footer, [data-modal], .js-menu-container {
    max-width: 1600px;
  }

  .container {
    max-width: $desktop;
  }
}
