@import '../utils/breakpoints';
@import '../utils/mixins.scss';

body,
html {
  font-family: var(--main-font-family);
  background-color: #ffffff;
}

.section {
  padding: 60px 15px;

  @include media-desktop {
    padding: 94px 215px;
  }
}

.section_portfolio{
  padding: 60px 15px;

  @include media-desktop {
    padding: 94px 0px;
  }
}


.container {
  margin: 0 auto;
  // padding: 60px 15px;
  max-width: 480px;
}

footer{
 padding: 60px 15px;
  @include media-desktop{
    padding: 60px 215px;
   }
}

header, main, footer, [data-modal], .js-menu-container {
  min-width: 320px;
  max-width: calc($tablet - 1px);
  margin: auto;
}

@include media-tablet {
  header, main, footer, [data-modal], .js-menu-container {
    max-width: $tablet;
  }

  .container {
    max-width: $tablet;
  }
}

@include media-desktop {
  header, main, footer, [data-modal], .js-menu-container {
    max-width: 1600px;
  }

  .container {
    max-width: $desktop;
  }
}
