:root {
  --text-black-color: #212121;
  --text-link-color: #2196f3;
  --text-white-color: #ffffff;
  --main-font-family: 'Roboto', sans-serif;
  --text-grey-color: #757575;
  --main-background-darkblue: #2f303a;
  --cursor-pointer: pointer;
  --grey-color-buttons: #f5f4fa;
  --fill-color-svg-static: #afb1b8;
}
